<div class="row">
  <tabs>
    <pane ng-repeat="machineName in mnList.machineArray" title="{{machineName.$id}}">
      <div ng-controller="ShellController" ng-init="intialize(machineName.$id, mnList.machineRef)">
        <ul id="termbody">
          <li ng-repeat="line in commands">
            <p class="indentPointer">{{line.command}}</p>
            <p ng-repeat="output in generateOutput(line)">
              {{output}}
            </p>
          </li>
        </ul>

        <form ng-submit="sendCommand()">
          <div class="input-group termColor">
            <label class="sr-only" for="commandEntry">Shell command entry</label>
            <span class="input-group-btn termColor">
              <button type="button" class="btn btn-default termColor" ng-click="previousCommand()">^</button>
            </span>
            <input type="text" class="form-control termColor" id="commandEntry" placeholder="Command" ng-model="newCommand" aria-describedby="sizing-addon1">
            <span class="input-group-btn termColor">
              <button type="submit" class="btn btn-default termColor">Execute</button>
            </span>
          </div>
        </form>
      </div>
    </pane>
  </tabs>
</div>